* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.02em;
}
.header {
    height: 80px;
    display: flex;
    align-content: space-between;

}
.header,
.footer {
    background-color: #6C63FF;
}

.loginButton {
    width: 120px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    background-color: #6C63FF;
    cursor: pointer;
    color: #FFFFFF;
}

.loginButtonZero {
    width: 80px;
    height: 20px;
    border-color: black;
    border-radius: 5px;
    background-color: red;
    cursor: pointer;
    color: #FFFFFF;
}

.loginButtonPlusOne {
    width: 80px;
    height: 20px;
    border-color: black;
    border-radius: 5px;
    background-color: green;
    cursor: pointer;
    color: #FFFFFF;
}